.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  color: white;
  padding: 1rem;

  ul {
    display: flex;
    gap: 1rem;
    list-style: none;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
